<%- include('partial/header.ejs') %>
    <div class="table-wrapper">

        <p class="text-center">No players found. Go <a href="/add" >here</a> to add players.</p>

    </div>
</div>
</body>
</html>